body{
    /* background-color: red; */
}
#navbar{
    display: none;
}

.dropdown{
    display: block;
}
.dropdown-btn{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 8px;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: 1rem;
    height: 50px;
}
.dropdown-btn:hover,.dropdown-btn:focus{
    background-color: rgb(224, 217, 202);
}
.dropelement{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 14px;
}
.dropelement a{
    color: black;
    display: block;
    padding: 5px 0px;
}
.show{
    display: block;
}

#search input,button{
    font-size: 1rem;

}
.text-item h2{
    font-size: 1.3rem;

}
.text-item P{
    font-size: 0.8rem;

}
.form-title{
    font-size: 1.3rem;

}
form input,textarea{
    font-size: 0.6rem;
    min-width: 100px;

}